<div class="row">
  <div class="col-md-5" id="logger">
    <h1>Smash a Burger!</h1>
    <h4>Click 'Smash It!' to smash a burger below!.</h4>
    {{!-- wrap the ul in divs  --}}
    {{!-- <div class="card column"> --}}
    <ul>
      {{#each burgers}}
      {{#unless smashed}}
      {{> burgers/brgr-block smashed=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  {{!-- </div> --}}

  {{!-- build-a-burger --}}
  <div class="col-md-7">
    <form class="create-form" action="/api/burgers" method="POST">
      <h2 id="h2">Add a new Burger you'd like to have!</h2>
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <button type="submit" id="add">Add burger</button>

      <div class="form-group">
        <label for="smashed" name="burgerSmashed">Smash this right away?</label><br>
        <input type="radio" name="burgerSmashed" value="1" checked> Absolutely!<br>
        <input type="radio" name="burgerSmashed" value="0"> Maybe later.
      </div>
    </form>

    {{!-- showing the burgers already eaten --}}

    <div class="form-group" id="smashed">
      <h1>Burgers that've been SMASHED!</h1>

      <ul>
        {{#each burgers}}
        {{#if smashed}}
        {{> burgers/brgr-block smashed=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div>