.row {
    background-color: rgb(255, 140, 85); 
}
#addBurger {
border: solid black 3px;
padding: 5px;
background-color: lightblue;
width: 40%;
margin: 5%;
}

#h2 {
  background-color: rgb(235, 156, 10);
  width: 100%;
  font-family: fantasy;
}
#smashed {
    /* float: right; */
    margin-right: 10%;
    background-color: darkblue;
    border: solid black 3px;
    margin: 5%;
    padding: 5px;
    /* opacity: .5; */
}

#h1sm {
  color: white;
  background-color: rgb(35, 201, 212);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#add {
    margin-bottom: 5px;
    padding: 5px;
}

#logger {
  border: 3px black solid;
  background-color: dodgerblue;
 border-radius: 5%;
 margin-top: 8px;
 /* margin-left: 8  px; */
  */
    /* background-color: darkorange; */
    /* opacity: 0; */
   
}
li {
    padding: 5px;
    margin: 5px;
    background: lightslategray;
    color: white;
    font-weight: bold;
    /* opacity: .4; */
    /* width: 35%; */
    text-align: right;
    /* insert the names of burgers into buttons? */
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }