<li>
	{{name}}
	{{!-- {{#if smashed}} --}}
	<button class="change-smashed" data-id="{{id}}" data-newlySmashed="{{smashed}}">
		{{#if smashed}}I've had enough...FOR NOW{{else}}SMASH IT!{{/if}}
	</button>
	
</li>